﻿@model Cutpix.Web.ViewModels.Blog.PostSummaryViewModel

<section id="billboard" class="user-profile">
    <div id="cover">
        <div class="entry-picture" style="background-image: url(@Url.Action("Image", "Gallery", new {id = Model.ImageId}))"></div>

        <div class="bottom">
            <div class="fader">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="entry-summary">
                                <h5 class="feature-heading">@Html.ActionLink(Model.Category, "List", "Category", null, new {permalink = Model.Category})</h5>
                                <h1 class="entry-title">
                                    @Html.ActionLink(Model.Title, "PostDetails", "Blog", new {permalink = Model.Permalink}, null)
                                </h1>
                                <p class="entry-published">@Model.Created.ToString("f")</p>
                                <p class="entry-description">@Model.Description</p>
                            </div>

                            @Html.Partial("_ProfileSummary")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>