﻿@model Cutpix.Web.ViewModels.Blog.NewPostFormViewModel

@{
    ViewBag.Title = "Новая запись";
}

@section head {
    @Styles.Render("//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css")
}

@section billboard {

    <section id="header" class="page-pusher">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-title">
                        <h1>@ViewBag.Title</h1>
                        <span>Автор: @User.Identity.Name</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("CreatePost", "Blog", null, FormMethod.Post, new {enctype = "multipart/form-data"}))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("Author", User.Identity.Name)
                <div class="widget">

                    <div class="switch-tabs">

                        <div class="tabs">
                            <span rel="general-case" class="active">Общая информация</span>
                            <span rel="content-case">Контент</span>
                        </div>

                        <div id="general-case" class="case active">
                            <div class="widget-content row">
                                <div class="col-md-6 col-xs-12">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Title)
                                        @Html.EditorFor(m => m.Title)
                                    </div>
                                </div>
                                <div class="col-md-6 col-xs-12">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Permalink)
                                        @Html.EditorFor(m => m.Permalink)
                                    </div>
                                </div>
                                <div class="col-md-12 col-xs-12">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Description)
                                        @Html.EditorFor(m => m.Description)
                                    </div>
                                </div>
                                <div class="col-md-12 col-xs-12">
                                    <div class="form-group">
                                        <div class="file">
                                            @Html.TextBoxFor(m => m.File, new {@class = "inputfile", type = "file", accept = "image/x-png, image/jpeg"})
                                            @Html.LabelFor(m => m.File)
                                            <span id="display-filename"></span>
                                            <span class="toggler font-icon fa fa-toggle-off"></span>
                                        </div>
                                        <div class="post-cover-wrapper collapsed"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="content-case" class="case">
                            @Ajax.ActionLink("Добавить Text", "AddText", "ContentBuilder",
                                new AjaxOptions {HttpMethod = "GET", InsertionMode = InsertionMode.InsertAfter, UpdateTargetId = "content-list"})
                            @Ajax.ActionLink("Добавить Image", "AddImage", "ContentBuilder",
                                new AjaxOptions {HttpMethod = "GET", InsertionMode = InsertionMode.InsertAfter, UpdateTargetId = "content-list"})
                            <div id="content-list"></div>
                        </div>

                    </div>

                </div>
                <div class="form-actions">
                    <input class="btn btn-success" type="submit" value="Опубликовать"/>
                </div>
            }
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/custom")
    @Scripts.Render("~/js/blog.create-post.js")
}

@section init {
    <script type="text/javascript">
        $(document).ready(function() {
            main.init({
                "previewUrl": "@Url.Action("JsonFilePreview", "Gallery")"
            });
        });
    </script>
}