﻿@model Cutpix.Web.ViewModels.Blog.PostDetailedViewModel

@{
    ViewBag.Title = Model.Title;
}


<section class="leader-block leader-block-featured-image" style="background-image: url(@Html.Action("GetImage", "Gallery", new {id = Model.ImageId}))">
    <div class="container">
        <div class="leader-block-content clearfix">
            <div class="leader-block-content-inside">
                <header class="entry-header-leader-block">
                    <h1 class="entry-title">@Model.Title</h1>
                </header>
                <div class="entry-meta">@Model.Description</div>
            </div>
        </div>
    </div>
    <div class="leader-block-overlay"></div>
    <div class="leader-block-perspective"></div>
</section>

<section id="content" class="site-content">
    <div class="container">
        <div class="row">
            <div id="primary" class="content-area col-lg-12">
                <main id="main">
                    <article>
                        <time class="date">@Model.Created.ToString("f")</time>

                        @Html.DisplayFor(m => m.ContentList)

                        @if (Model.Tags.Count != 0)
                        {
                            <div class="article-tags">
                                <mark>@Html.NameFor(m => m.Tags) > @string.Join(", ", Model.Tags)</mark>
                            </div>
                        }
                    </article>
                </main>
            </div>
        </div>
    </div>
</section>