﻿@model IEnumerable<Cutpix.Web.ViewModels.Blog.PostSummaryViewModel>

@{
    ViewBag.Title = "List of posts";
}

@section billboard {

    <section id="header" class="page-pusher">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-title">
                        <h1>@ViewBag.Title</h1>
                        <span>Page Size: @Model.Count()</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

@foreach (var article in Model)
{
    <section id="@article.Id">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <article class="info">
                        <h3 class="article-title">
                            <a href="@Url.Action("PostDetails", new {permalink = article.Permalink})">@article.Title</a>
                        </h3>
                        <details class="description">
                            <summary>Description</summary>
                            <p>@article.Description</p>
                        </details>
                    </article>
                </div>
            </div>
        </div>
    </section>
}