﻿@model Cutpix.Web.ViewModels.Blog.TextContentViewModel

<div class="input-group mb-3">
    <div class="input-group-prepend">
        @Html.LabelFor(m => m.Name, new { @class = "input-group-text" })
    </div>
    @Html.TextBoxFor(m => m.Name)
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Body)
    @Html.TextAreaFor(m => m.Body, new { @class = "form-control", rows = 3 })
</div>
