﻿@using Microsoft.Owin.Security
@model Cutpix.Web.ViewModels.Account.ExternalLoginListModel

@{
    var externalProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes().ToList();
}

@if (!externalProviders.Any())
{
    <div>
        <p>
            There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=313242">this article</a>
            for details on setting up this ASP.NET application to support logging in via external services.
        </p>
    </div>
}
else
{
    using (Html.BeginForm("ExternalLogin", "Account", new {returnUrl = Model.ReturnUrl}))
    {
        @Html.AntiForgeryToken()

        <div id="SocialLoginList">
            <p>
                @foreach (var p in externalProviders)
                {
                    <button id="@p.AuthenticationType" type="submit" class="btn" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">@p.AuthenticationType</button>
                }
            </p>
        </div>
    }
}