﻿@{
    ViewBag.Title = "Подтверждение адреса электронной почты";
}

<div class="col-md-12">
    <h2>@ViewBag.Title</h2>

    <p class="text-info">
        Пожалуйста, проверьте свою эл. почту, вам должно прийти письмо с инструкцией подтверждения регистрации.
    </p>
    <p class="text-danger">
        For Demo only: You can click this link to confirm the email: <a href="@ViewBag.Link">link</a>
        Please change this code to register an email service in IdentityConfig to send an email.
    </p>
</div>