﻿
@{
    ViewBag.Title = "Ошибка авторизации";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <hgroup>
                <h2>@ViewBag.Title.</h2>
                <h3 class="text-danger">Ошибка вызова внешнего сервиса поставщика.</h3>
            </hgroup>
        </div>
    </div>
</div>