﻿@model Cutpix.Web.ViewModels.Account.LoginModel

@{
    ViewBag.Title = "Авторизация";
}

@section head {
    @Styles.Render("~/content/authentication.css")
}

<div class="container padding-md-top-bottom">
    <div class="row margin-md-top-bottom">
        <div class="col-md-12 margin-md-bottom">
            <hgroup class="text-center">
                <h1 class="margin-xs-top-bottom">@ViewBag.Title</h1>
            </hgroup>
        </div>
        <div class="col-md-4 col-md-offset-4">
            @Html.ValidationSummary(true)

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                @Html.EditorFor(m => m.ReturnUrl)

                <fieldset>
                    <div class="editor-field">
                        @Html.TextBoxFor(m => m.Email, new {type = "email", placeholder = "Адрес эл. почты"})
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(m => m.Password, new {type = "password", placeholder = "Пароль"})
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                </fieldset>

                <footer>
                    <button type="submit" class="btn">Вход</button>
                    <label class="remember-me">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.DisplayNameFor(m => m.RememberMe)
                    </label>
                </footer>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}