﻿@model Cutpix.Web.ViewModels.Account.RegisterModel

@{
    ViewBag.Title = "Регистрация";
}

@section head{
    @Styles.Render("~/content/authentication.css")
}

<div class="container padding-md-top-bottom">
    <div class="row margin-md-top-bottom">
        <div class="col-md-12 margin-md-bottom">
            <hgroup class="text-center">
                <h1 class="margin-xs-top-bottom">@ViewBag.Title</h1>
            </hgroup>
        </div>
        <div class="col-md-8 col-centered">
            <div class="col-md-5">
                <div id="SocialLoginForm">
                    @Html.Partial("_ExternalLoginsList", new Cutpix.Web.ViewModels.Account.ExternalLoginListModel { ReturnUrl = ViewBag.ReturnUrl })
                </div>

                @Html.ValidationSummary(true)
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <fieldset>
                        @Html.EditorForModel()
                    </fieldset>

                    <footer>
                        <button type="submit" class="btn">Регистрация</button>
                    </footer>
                }
            </div>

        </div>
    </div>
</div>