﻿@model Cutpix.Web.ViewModels.Account.SendCodeModel

@{
    ViewBag.Title = "Отправка кода аутентификации";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>@ViewBag.Title.</h2>

            @using (Html.BeginForm("SendCode", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-md-8">
                        Выберите, вариант получения кода двухэтапной аутентификации:
                        @Html.DropDownListFor(model => model.SelectedProvider, Model.Providers)
                        <input type="submit" value="Submit" class="btn btn-default"/>
                    </div>
                    <div class="col-md-4">
                        <a href="https://support.google.com/accounts/answer/185834?hl=ru">Проблемы при использовании двухэтапной аутентификации</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}