﻿@model Cutpix.Web.ViewModels.Account.VerifyCodeModel
@{
    ViewBag.Title = "Enter Verification Code";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>@ViewBag.Title.</h2>

            @using (Html.BeginForm("VerifyCode", "Account", new {ReturnUrl = Model.ReturnUrl}, FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new {@class = "text-danger"})
                @Html.Hidden("provider", @Model.Provider)
                <h4>@ViewBag.Status</h4>
                <hr/>
                <div class="form-group">
                    @Html.LabelFor(m => m.Code, new {@class = "col-md-2 control-label"})
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Code, new {@class = "form-control"})
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberBrowser)
                            @Html.LabelFor(m => m.RememberBrowser)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-default" value="Submit"/>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}