﻿@model Cutpix.Web.ViewModels.Manage.ManageModel

@{
    ViewBag.Title = "Manage your account";
}

<div class="page-pusher"></div>

<div class="profile-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                @Html.Partial("_ProfileSummary")
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <p class="text-success">@ViewBag.StatusMessage</p>
            
            @if (User.IsInRole("Admin"))
            {
                <p>
                    @Html.ActionLink("Administrator Dashboard", "ListUsers", "Dashboard", new {area = "Admin"}, null)
                </p>
            }
            <p>
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Pick a password", "SetPassword")
                }
            </p>
            <p>
                Phone Number: @(Model.PhoneNumber ?? "None") [
                @if (Model.PhoneNumber != null)
                {
                    @Html.ActionLink("Change", "AddPhoneNumber")
                    @: &nbsp;|&nbsp;
                    @Html.ActionLink("Remove", "RemovePhoneNumber")
                }
                else
                {
                    @Html.ActionLink("Add", "AddPhoneNumber")
                }
                ]
            </p>
            <p>
                External Logins: @Model.Logins.Count
                @Html.ActionLink("[Manage]", "ManageLogins")
            </p>
            <p>
                Two Factor Enabled: @(Model.TwoFactor)
                @if (Model.TwoFactor)
                {
                    @Html.ActionLink("[Disable]", "DisableTFA")
                }
                else
                {
                    @Html.ActionLink("[Enable]", "EnableTFA")
                }
            </p>
            <p>
                Two Factor Browser Remembered?: @Model.BrowserRemembered
                @if (Model.BrowserRemembered)
                {
                    @Html.ActionLink("[Forget]", "ForgetBrowser")
                }
                else
                {
                    @Html.ActionLink("[Remember]", "RememberBrowser")
                }
            </p>
        </div>
    </div>
</div>



