﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Cutpix | Ayoware, Inc.</title>

    @Styles.Render("~/Content/css", "~/Content/font-awesome")
    @RenderSection("head", false)
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

<div id="page">
    <header class="header-navbar fixed-top" role="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    @Html.ActionLinkWithImage("~/content/images/logo.png", "Index", "Home", "logo")
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </header>

    @RenderSection("billboard", required: false)

    @RenderBody()
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)

@if (IsSectionDefined("init"))
{
    @RenderSection("init", required: false)
}
</body>
</html>