﻿<div class="profile">
    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id="LogoutForm", @class = "navbar-right"}))
         {
             <ul>
                 <li class="">@Html.ActionLink(User.Identity.Name, "Index", "Manage")</li>
                 <li>
                     <a href="javascript:document.getElementById('LogoutForm').submit()">Выход</a>
                 </li>
             </ul>
         }
    }
    else
    {
        <ul>
            <li>@Html.ActionLink("Регистрация", "Register", "Account")</li>
            <li>@Html.ActionLink("Вход", "Login", "Account")</li>
        </ul>
    }
</div>