﻿<div class="person clearfix">
    <div class="avatar">
        <div class="user-avatar">
            @Html.ActionLinkWithImage(@"https://pacdn.500px.org/6123882/0c33ea4d4e8980289de93ba4367ff5ae2b27af5d/1.jpg?25", "Index", "Home", "user-avatar-link")
        </div>
    </div>
    <div class="info">
        <div class="clearfix">
            <h1>Andrei Pavlyuk</h1>
        </div>
        @* TODO: dynamic user stats display update *@
        <div class="stats">
            <ul>
                <li>8 Статус</li>
                <li>106 Просмотры</li>
                <li>3 Подписчики</li>
            </ul>
        </div>


        <div class="actions clearfix">
            <div class="buttons">
                @Html.ActionLink("Блог", "Index", "Home", null, new {@class = "button clear-white"})
                @Html.ActionLink("Резюме", "Index", "Home", null, new {@class = "button clear-white"})
                @Html.ActionLink("Мои работы", "Index", "Home", null, new {@class = "button clear-white"})
            </div>
            <div class="share">
                <ul class="clearfix">
                    <li>
                        <a class="facebook" href="#">
                            <i class="font-icon fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a class="vkontakte" href="#">
                            <i class="font-icon fa fa-vk"></i>
                        </a>
                    </li>
                    <li>
                        <a class="twitter" href="#">
                            <i class="font-icon fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a class="stackoverflow" href="#">
                            <i class="font-icon fa fa-stack-overflow"></i>
                        </a>
                    </li>
                    <li>
                        <a class="linkedin" href="#">
                            <i class="font-icon fa fa-linkedin"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>