﻿@model HandleErrorInfo
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>@Response.Status | Ayoware, Inc.</title>
    <link rel="stylesheet" href="/content/error.css"/>
</head>
<body>
<div class="error-bg-overlay"></div>
<div class="container">
    <h1>@Response.Status</h1>
    <p>@Model.Exception.Message</p>
    @Html.ActionLink("Let Us Take You Home", "Index", "Home")
</div>
<div class="overlay"></div>
</body>
</html>