﻿@model Cutpix.Web.ViewModels.Blog.ImageContentInfoModel


<p>
    <img class="img-content img-rounded" src="@Html.Action("GetImage", "Gallery", new {id = Model.Id})" alt="@Model.Name" title="@Model.Name"/>
</p>