﻿.padding-md-top-bottom {
    padding-bottom: 40px;
    padding-top: 40px;
}

.margin-md-top-bottom {
    margin-bottom: 80px !important;
    margin-top: 40px !important;
}

.margin-md-bottom { margin-bottom: 40px !important; }

.margin-xs-top-bottom {
    margin-bottom: 5px !important;
    margin-top: 5px !important;
}

form .editor-field input {
    font-size: 14px;
    width: 100%;
}

form .editor-field {
    font-weight: 600;
    margin-bottom: 1.8em;
}

form .editor-label { margin: 6px 12px 0 10px; }

form .editor-field input[type="email"],
form .editor-field input[type="password"] {
    border: 2px solid #e0e0e0;
    border-radius: 2px;
    height: 100%;
    margin: 0;
    outline: medium none;
    padding: 6px 12px 6px 10px;
    width: 100%;
}

form footer { margin-top: 2em; }

form footer button[type="submit"] {
    margin-right: 20px;
    background: #37a000 none repeat scroll 0 0;
    color: #fff;
    vertical-align: middle;
    border: 0 none;
    border-radius: 2px;
    font-weight: 700;
}

form footer button[type="submit"]:hover {
    background: #008329 none repeat scroll 0 0;
    color: #fff !important;
}

.field-validation-error {
    display: block;
    padding: 6px 12px 0px 10px;
}

.remember-me { font: 600 14px/24px "Open Sans"; }

.remember-me input[type="radio"],
.remember-me input[type="checkbox"] { margin-right: 10px; }

.remember-me input[type="checkbox"] { margin-left: 16px; }

h1 { font-weight: 300; }

@media (min-width: 991px) {
}

@media (max-width: 991px) {
}