﻿a.logo {
    display: block;
    float: left;
}

a:hover.logo {
    opacity: .6;
}

.logo img {
    max-height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#cover {
    min-height: 260px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    width: 100%;
}

.user-profile #cover .entry-picture {
    background-color: #222222;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    left: 0;
    min-height: 26.9091rem;
    position: absolute;
    right: 0;
    top: 0;
}

.user-profile #cover .bottom {
    bottom: 0;
    position: absolute;
    width: 100%;
}

.user-profile #cover .bottom .fader {
    background: linear-gradient(rgba(20, 20, 20, 0.0), rgba(0, 0, 0, 0.5));
    height: 100%;
    width: 100%;
}

/* person class styles */

.user-profile #cover .person { margin-bottom: 20px; }

.user-profile #cover .person .avatar {
    float: left;
    line-height: 0;
}

.user-profile #cover .person .avatar img {
    max-height: 100px;
    max-width: 100px;
    border-radius: 3px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}

.user-profile #cover .person .avatar .user-avatar {
    display: block;
    line-height: 0;
    position: relative;
    text-align: center;
}

.user-profile #cover .person .avatar .user-avatar-link {
    height: 100px;
    width: 100px;
}

/* info css styles */

.user-profile #cover .person .info {
    float: left;
    padding-left: 20px;
    width: auto;
}

.user-profile h1,
.user-profile h2,
.user-profile h3 {
    margin-bottom: 12px;
    margin-top: 12px;
}

.user-profile #cover .person h1 {
    color: white;
    font-size: 30px;
    font-weight: normal;
    text-align: center;
}

.user-profile #cover .person .info h1 {
    display: block;
    float: left;
    font-size: 30px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 4px;
    text-align: left;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
}


/* stats css styles */

.user-profile #cover .person .info .stats {
    height: 32px;
    line-height: 30px;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
    white-space: nowrap;
}

.user-profile #cover .person .info .stats ul {
    font-size: 0;
    padding: 0;
}


.user-profile #cover .person .info .stats ul li {
    color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    font-size: 14px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 12px;
    padding-top: 0;
}

.user-profile #cover .person .info .actions {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 4px;
}

.user-profile #cover .person .info .actions .buttons {
    float: left;
    font-size: 0;
}

.stats, .buttons { font-family: "Helvetica Neue", Helvetica Neue, Helvetica, Arial, sans-serif; }

.user-profile #cover .person .info .actions .buttons .button {
    border: medium none;
    border-radius: 0;
    font-size: 13px;
    height: 30px;
    margin-left: 1px;
    vertical-align: top;
}

.user-profile #cover .person .info .actions .buttons .button:first-child {
    border-radius: 3px 0 0 3px;
    margin-left: 0;
}

.user-profile #cover .person .info .actions .buttons .button:last-child { border-radius: 0 3px 3px 0; }

.button.clear-white {
    background-color: rgba(255, 255, 255, 0.1);
    border: medium none;
    box-shadow: none;
    color: white;
}

.button.clear-white:hover { background-color: rgba(255, 255, 255, 0.2); }

.button {
    border: medium none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    height: 32px;
    line-height: 30px;
    outline: medium none;
    padding: 0 15px;
    text-decoration: none;
    transition: all 0.15s ease-out 0s;
    white-space: nowrap;
    width: auto;
}

.btn {
    line-height: 20px;
    padding: 9px 39px;
}

/* share css styles */

.user-profile .actions .share {
    float: left;
    padding: 0 0 0 10px;
    text-align: center;
}

.user-profile .actions .share li {
    float: left;
    margin: 0 1px 0 0;
}

.user-profile .share li {
    display: block;
    height: 30px;
    width: 30px;
}

.user-profile .actions .share li:first-child a { border-radius: 3px 0 0 3px; }

.user-profile .actions .share li:last-child a { border-radius: 0 3px 3px 0; }

.user-profile .share li a {
    background: rgba(255, 255, 255, 0.1) none no-repeat scroll center center/16px 16px;
    border-radius: 0;
    display: block;
    height: 100%;
    transition: all 0.15s ease-in-out 0s;
    width: 100%;
    font-size: 19px;
    color: white;
}

.user-profile .share li a i {
    font-size: 17px;
    display: inline;
}

.user-profile .share li .facebook:hover { background-color: #3b5998; }

.user-profile .share li .vkontakte:hover { background-color: #54769A; }

.user-profile .share li .twitter:hover { background-color: #00ACED; }

.user-profile .share li .stackoverflow:hover { background-color: #F68A1F; }

.user-profile .share li .linkedin:hover { background-color: #3b5998; }

.user-profile .fader .feature-heading {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.user-profile .fader a {
    color: #fff;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
}

.user-profile .fader .feature-heading a { color: #09bdfd; }

.user-profile .fader .entry-title {
    font-size: 45px;
    line-height: 1.2;
    font-weight: bold;
    margin-bottom: 10px;
}

.fader .entry-title a { color: #fff; }

.fader .entry-published,
.fader .entry-description {
    font-size: 18px;
    margin-bottom: 15px;
    color: #fff;
}

.fader .entry-published { line-height: 1.8; }

.fader .entry-description { line-height: 1.25em; }

.fader .entry-summary { padding-bottom: 60px; }

.col-centered {
    float: none;
    margin: 0 auto;
}

/* start leader-block */

.leader-block {
    margin-top: 50px;
    min-height: 600px;
    overflow: hidden;
    position: relative;
}

.leader-block.leader-block-featured-image {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    -ms-background-size: cover;
    background-size: cover;
}

.leader-block.leader-block-featured-image .leader-block-overlay { background: rgba(20, 20, 20, 0.5); }

.leader-block .leader-block-overlay {
    background: #141414;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.leader-block .leader-block-perspective {
    background: #fff;
    height: 250px;
    position: absolute;
    -webkit-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg);
    width: 110%;
    left: -5%;
    bottom: -165px;
    z-index: 3;
}

.leader-block .leader-block-content {
    position: relative;
    padding: 0 10%;
    z-index: 2;
    margin-bottom: 120px;
}

.leader-block .leader-block-content-inside {
    position: relative;
    text-align: center;
    z-index: 2;
    padding: 100px 0;
}

@media screen and (max-width: 1199px) and (min-width: 992px) {
    .leader-block .leader-block-content {
        min-height: 300px;
        padding: 0 8%;
    }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
    .leader-block .leader-block-content {
        min-height: 270px;
        padding: 0 8%;
    }
}

@media screen and (max-width: 767px) and (min-width: 600px) {
    .leader-block .leader-block-content {
        min-height: 270px;
        padding: 0 5%;
    }
}

@media screen and (max-width: 599px) and (min-width: 360px) {
    .leader-block .leader-block-content {
        min-height: 230px;
        padding: 0;
    }

    .leader-block .leader-block-content-inside { padding: 0; }
}

.leader-block .entry-header-leader-block {
    margin: 15% 0 30px;
    padding: 0;
}

.leader-block .entry-title {
    color: #fff;
    font-size: 45px;
    letter-spacing: -2px;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
}

.entry-title { font-weight: 700; }

.entry-meta {
    color: #a1a1a1;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
    font-size: .9rem;
    text-transform: uppercase;
    margin-bottom: 30px;
}

/* end leader-block */

/* start content */

.site-content {
    margin: 0;
    padding: 60px 0;
}

.content-area {
}

.site-content article {
    padding: 10px 0;
    border-bottom: 2px solid #ecf0f1;
}

.content-area a:hover,
.content-area a:focus {
    color: #e74c3c;
    text-decoration: underline;
}

.content-area .resource-link {
    font-size: .9em;
    font-weight: 600;
    letter-spacing: -1px;
    margin-top: 1.5em;
    display: inline-block;
}

.content-area .article-tags {
    font-size: .7em;
    font-weight: normal;
    margin: 1em 0;
}

.content-area h3 {
    color: #2c3e50;
    font-size: 1.8em;
    font-weight: 700;
    margin-bottom: 1em;
    letter-spacing: -3px;
}

.content-area h4 {
    color: #2c3e50;
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 1em;
}

.content-area ol,
.content-area ul {
    margin-top: 0;
    margin-bottom: 1.2em;
}

.content-area ol,
.content-area ul,
.content-area li { list-style: circle outside none; }

.content-area li { padding-top: .2em; }

/* end content */

.body div.admonition { padding: 2px 12px 12px 12px; }

.admonition.note {
    background-color: #edf4e8;
    border-color: #6ba442;
}

div.admonition {
    margin: 24px 0;
    width: auto;
    max-width: 100%;
    padding: 2px 12px 22px 12px;
    border-left: 5px solid transparent;
}

.admonition.note .admonition-title { color: #89b668; }

.body div.admonition h5 {
    font-weight: 800;
    text-transform: uppercase;
}

.admonition .admonition-title {
    margin-bottom: 0;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 24px;
}

.admonition .admonition-title:after {
    content: ":";
    font-weight: 900;
}

.img-content {
    height: auto;
    max-width: 100%;
}

h3.article-title {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 5px;
    color: #161616;
}

h3.article-title a {
    color: #161616;
    text-decoration: none;
}

h3.article-title a:hover {
    color: #666666;
    text-decoration: none;
}

article.info {
    margin-top: 10px;
    margin-bottom: 10px;
}

article details.description {
    -ms-border-radius: 3px;
    border-radius: 3px;
    /*margin-bottom: 30px;*/
}

article details.description summary,
article details.description p {
    font-size: 1.3em;
    font-weight: 600;
    color: #161616;
}

article details.description summary {
    color: #161616;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
}

article details.description p { margin: 0; }

article details.description summary::-webkit-details-marker { display: none; }

article details.description[open] { }

article details.description[open] summary { }


.input-group-prepend {
    margin-right: -1px;
    display: flex;
}