﻿@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

* {
    border: 0 none;
    font: inherit;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}

a { text-decoration: none; }

ol, ul { list-style: outside none none; }

img {
    height: auto;
    vertical-align: middle;
}

body, html {
    height: 100%;
    overflow: hidden;
    width: 100%;
}

html { text-rendering: optimizelegibility; }

body {
    animation: 0.1s steps(2, start) 0s normal none infinite running body-blink;
    background: #000 none repeat scroll 0 0;
    bottom: 0;
    font: 400 16px/32px 'Montserrat', sans-serif;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}

@keyframes body-blink {
    100% { background: #111 none repeat scroll 0 0; }
}

@keyframes body-blink {
    100% { background: #111 none repeat scroll 0 0; }
}

body::before {
    animation: 8s linear 0s normal none infinite running body-scanline;
    background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0;
    content: "";
    height: 80px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: -1;
}

@keyframes body-scanline {
    0% { transform: translateY(-80px); }

    100% { transform: translateY(100vh); }
}

@keyframes body-scanline {
    0% { transform: translateY(-80px); }

    100% { transform: translateY(100vh); }
}

.container {
    color: #fff;
    left: 0;
    padding: 0 8%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 84%;
}

.container h1 {
    font-size: 64px;
    line-height: 64px;
    margin-bottom: 32px;
    text-transform: uppercase;
}

.container p {
    margin-bottom: 32px;
    font-size: 30px;
    line-height: 30px;
}

.container a {
    border: 2px solid #fff;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    line-height: 28px;
    padding: 16px 32px;
    text-transform: uppercase;
}

.container a:active, .container a:hover {
    background: #fff none repeat scroll 0 0;
    color: #000;
}

.overlay {
    background: rgba(0, 0, 0, 0) url("../content/images/overlay-background.png") repeat scroll 0 0/2px 2px;
    bottom: 0;
    display: block;
    height: 100%;
    left: 0;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
}

@media only screen and (max-width: 480px), only screen and (max-height: 640px) {
    .container a, .container p {
        font-size: 12px;
        line-height: 20px;
    }
}

@media only screen and (max-height: 480px) and (orientation: landscape) {
    .container h1 {
        font-size: 32px;
        line-height: 32px;
    }
}




.error-bg-overlay {
    background: url(../content/images/error-bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.5;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}