﻿@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,800,300,300italic&subset=latin,cyrillic);

*, *:after, *:before {
    box-sizing: border-box;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, blockquote, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    -webkit-font-smoothing: antialiased;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

body {
    color: #494949;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
    position: relative;
}

    body h1, body h2, body h3, body h4 {
        text-rendering: optimizelegibility;
    }


:focus {
    outline: none;
}

a {
    color: #2980b9;
    text-decoration: none;
}

    a:hover, a:focus {
        color: #333333;
        outline: medium none;
        text-decoration: none;
    }

ol, ul, li {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}

p {
    /*margin: 1em 0;*/
    text-align: justify;
}

pre code {
    padding: 24px 12px;
    overflow: auto;
    white-space: pre;
    display: block;
}

pre {
    margin: 24px 0;
    padding: 0;
    /*padding: 24px 12px;*/
    overflow: auto;
    word-wrap: normal;
    white-space: nowrap;
}

mark {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.date {
    font-size: 0.85rem;
    font-weight: 600;
    color: #9099a3;
}

.header-navbar {
    background-color: #000000;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    font-size: 0;
    height: 50px;
    line-height: 50px;
}

    .header-navbar .profile {
        float: right;
    }

        .header-navbar .profile ul {
            display: block;
            float: left;
            font-size: 0;
            position: relative;
        }

            .header-navbar .profile ul li {
                display: inline-block;
                font-size: 14px;
                height: 100%;
                line-height: 50px;
                vertical-align: top;
                position: relative;
            }

                .header-navbar .profile ul li a {
                    color: #b9c1c7;
                    display: block;
                    font-weight: normal;
                    height: 100%;
                    letter-spacing: 0.025em;
                    padding: 0 15px;
                    white-space: nowrap;
                }

h1, h2, h3, h4, h5, h6 {
    color: inherit;
    font-family: "Open Sans", Arial, sans-serif;
    line-height: 1.2;
    /*margin-bottom: 12px;
    margin-top: 12px;*/
    text-rendering: optimizelegibility;
}

#main::after {
    clear: both;
}

.font-icon {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding: 0 0;
    margin: 0 auto;
}

    .font-icon:before {
        font-family: "FontAwesome";
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        line-height: 1.42857;
        margin: 0 auto;
        text-align: center;
        text-transform: none;
    }

    .font-icon span {
        display: none;
    }

.profile-header {
    padding: 24px 0;
}

.page-pusher {
    padding-top: 50px;
}

    .page-pusher::after {
        clear: both;
    }

.page-title {
    float: left;
    padding: 25px 0;
}

    .page-title h1 {
        color: #222c37;
        font-size: 3.5em;
        font-weight: 700;
        letter-spacing: -2px;
        line-height: 1em;
        margin: 0;
        overflow: hidden;
        padding-top: 23px;
        margin-bottom: 5px;
        text-overflow: ellipsis;
        text-transform: uppercase;
        white-space: nowrap;
    }

    .page-title span {
        color: #99a0a7;
        font-size: 1.3em;
        line-height: 1.85em;
        margin-right: 10px
    }



.widget-content {
    font-size: 13px;
}

    .widget-content label {
        display: block;
        font-size: 12px;
        font-weight: 600;
        padding-bottom: 5px;
    }

    .widget-content input[type="text"] {
        background: #f0f0f0 none repeat scroll 0 0;
        border: medium none;
        border-radius: 0;
        color: #333;
        display: block;
        font-weight: 400;
        font-size: 13px;
        position: relative;
        height: 34px;
        line-height: 1.42857;
        padding: 6px 12px;
        width: 100%;
    }

        .widget-content input[type="text"]:focus {
            background-color: #f0f0f0;
            transition: background-color 0.25s ease 0s, border-color 0.25s ease 0s;
            width: 100%;
            color: #333333
        }

.padding-top-10px {
    padding-top: 10px;
}

.inputfile {
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    width: 0.1px;
    z-index: -1;
}

    .inputfile + label,
    .inputfile + button {
        background-color: #222c37;
        background-image: url("../content/images/cover-icon.png");
        background-position: 10px 50%;
        background-repeat: no-repeat;
        background-size: 16px 16px;
        border-radius: 3px;
        color: white;
        cursor: pointer;
        display: inline-block;
        font-weight: bold;
        height: 29px;
        line-height: 29px;
        padding: 0 10px 0 35px;
        text-transform: uppercase;
        transition: background-color 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;
    }

.file button {
    border: 0 none;
    padding: 0 10px 0 10px;
    height: 29px;
    line-height: 29px;
}

.file span.toggler {
    cursor: pointer;
}

.widget-content .form-group {
    padding: 12px 0;
    margin-bottom: 0 !important;
}

.widget-content .file {
    padding: 10px 0 5px;
}

.post-cover-wrapper {
    width: 100%;
    height: 400px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

    .post-cover-wrapper.collapsed {
        display: none;
    }

#display-filename,
.toggler {
    padding: 6px 0;
    margin: 0 10px;
    font-size: 12px
}

.toggler {
    float: right;
}

.widget {
    margin-bottom: 20px;
    margin-top: 0;
    padding: 0;
}

.switch-tabs {
    margin-top: 0;
    padding: 0;
}

    .switch-tabs .tabs {
        border-bottom: 1px solid #e6e6e6;
        margin-bottom: 15px;
        padding-top: 20px;
        padding-bottom: 15px;
    }

        .switch-tabs .tabs span {
            color: #494949;
            display: inline-block;
            font-size: 1.3em;
            padding: 0 14px 0 14px;
            cursor: pointer;
        }

            .switch-tabs .tabs span.active {
                font-weight: bold;
            }

            .switch-tabs .tabs span:first-child {
                padding-left: 0;
            }


    .switch-tabs .case {
        display: none;
    }

        .switch-tabs .case.active {
            display: block;
        }

.form-actions {
    padding-top: 30px;
    border-top: 1px solid #e6e6e6;
}

    .form-actions .btn {
        border: 0;
        background-color: #00cccc;
        font-size: 1.4em;
        font-weight: 700;
        padding: 15px 40px !important;
        text-transform: uppercase;
    }

        .form-actions .btn:hover {
            background-color: #1AD2D2;
        }

.clear::after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}

.group {
    position: relative;
    margin-bottom: 15px;
}

    .group input {
        font-size: 1.3em;
        padding: 10px 10px 10px 5px;
        display: block;
        width: 300px;
        border: none;
        border-bottom: 1px solid #757575;
    }

        .group input:focus {
            outline: none;
        }

    .group label {
        color: #999;
        font-size: 1.3em;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: 10px;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }
