﻿@{
    Page.Title = "This page is using Knockout.js";
}

<div id="main">
    <p>Full name: <strong data-bind="text: fullName"></strong></p>
    <p>Phone number: <strong data-bind="text: phoneNumber"></strong></p>
    <p>Bio: <strong data-bind="text: bio"></strong></p>
</div>

@section scripts {
    <script>
        var model = new AboutPageViewModel();

        function AboutPageViewModel() {
            var self = this;
            self.firstName = ko.observable();
            self.lastName = ko.observable();
            self.fullName = ko.computed(function () {
                return self.firstName() + " " + self.lastName();
            }, self);
            self.phoneNumber = ko.observable();
            self.bio = ko.observable();
        };

        function getAboutPageData() {
            $.ajax("/data/about", {
                type: "GET",
                success: function (data) {
                    model.firstName(data.firstName);
                    model.lastName(data.lastName);
                    model.phoneNumber(data.phoneNumber);
                    model.bio(data.bio);
                }
            });
        }

        $(document).ready(function () {
            getAboutPageData();
            ko.applyBindings(model);
        });
    </script>
}