﻿@model Cutpix.Web.ViewModels.Account.RegisterModel

<div class="editor-field">
    @Html.TextBoxFor(m => m.Email, new {type = "email", placeholder= "Адрес эл. почты" })
    @Html.ValidationMessageFor(m => m.Email)
</div>
<div class="editor-field">
    @Html.TextBoxFor(m => m.Password, new {type = "password", placeholder = "Пароль" })
    @Html.ValidationMessageFor(m => m.Password)
</div>